@import '../../foundation';
.social-bar {
  color: #fff;
  padding: 2px;
  text-transform: capitalize;
  background-color: $main-color;
  margin: auto 0;
  p{
    margin-left: 4rem;
  }
  
}
.nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  margin-left: 4rem;
  width: 8rem;
  padding: 5px;
}

.nav_menu_list {
  display: flex;
  align-items: center;
}
.nav_menu_list .nav_menu_item {
  margin: 0 1rem;
}
.nav_menu_item .nav_menu_link {
  color: $main-color;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.nav_menu_link:hover {
  color: $sec-color;
}
.toggle_btn {
  font-size: 20px;
  font-weight: 600;
  color: $main-color;
  z-index: 4;
}
.nav_menu,
.close_btn {
  display: none;
}
.show {
  right: 3% !important;
}

.search {
  cursor: pointer;
  padding: 5px;
  color: #fff;
  background-color: #f1b61a;
}

.banner {
  color: #fff;
  background: url(../../assets/Images/Intro/image01.jpg) no-repeat center center;
  max-width: 100%;
  height: 85vh;
  position: relative;
  background-size: cover;
  .banner-text {
    text-transform: uppercase;
    h1:last-child {
      font-weight: bolder;
    }
    h1 {
      line-height: 3rem;
    }
    position: absolute;
    right: 5rem;
    bottom: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .social-bar{
    margin: auto 0;
  }
  .logo img {
    margin: auto 0;
  }
  .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
  }
  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }
  .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: $sec-color;
  }
}
